* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: rgb(40, 40, 40);
}

div {
    display: flex;
    justify-content: space-between;
}

.noPieceHere {
    background-color: red;
}

td {
    text-align: center;
    background-color: black;
    width: 65px;
    height: 65px;
}

.Player-turn-text {
    text-align: center;
    color: white;
    font-size: 50px;
}

.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: rgb(39, 39, 39);
    border: 5px solid rgb(49, 49, 49);
    border-radius: 50px;
}

.red-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 5px solid maroon;
    border-radius: 50px;
}

.king.red-piece {
    background-color: orange;
}

.king.black-piece {
    background-color: purple;
}

p {
    display: inline-block;
}

span {
    display: inline-block;
}
